[Unit]
Description=Etherpad Server
After=syslog.target network.target

[Service]
Type=simple
User={{ etherpad_username }}
Group={{ etherpad_group }}
WorkingDirectory={{ etherpad_app_dir }}/app
Environment=NODE_ENV=production
ExecStart=pnpm run prod
StandardOutput=file:{{ etherpad_logfile }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
